@model IEnumerable<BusinessObject.Data.Class_Role>

@{
    ViewData["Title"] = "ClassRoleIndex";
}
@{
    Layout = "_LayoutStaff";
}



<h4 class="fw-bold py-3 mb-4">Class</h4>
<div class="clearfix mb-3">
    <a class="btn btn-success float-end" style="color: white;" asp-action="AddClassRole">Create New</a>
</div>
<div class="row">
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="EditClassRole" asp-route-id="@item.Class_Role_id">Edit</a> |
                 <a href="#" data-id="@item.Class_Role_id" class="btn btn-sm btn-danger btnDelete"> Delete</a>

               
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>



<div class="d-flex my-5 ">
    <p class="fw-bold mb-6"></">Classroom division:</p>
    <a class="btn btn-success  mx-2" asp-action="StudentClassIndex">Student</a>
    <a class="btn btn-success  mx-2" asp-action="TeacherClassIndex">Teacher</a>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('You Delete Class ?');

                if (conf === true) {
                    $.ajax({
                        url: '/StaffTrain/DeleteClassRole',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success!',
                                    text: 'Class deleted successfully.',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function () {
                                    location.reload();
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
}
