@model IEnumerable<BusinessObject.Data.Student_Class>

@{
    ViewData["Title"] = "StudentClassIndex";
}
@{
    Layout = "_LayoutStaff";
}


<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light"> Class /</span> Classroom division Student
</h4>
<div class="clearfix mb-3">
    <a class="btn btn-success float-end" style="color: white;" asp-action="AddStudentClass">Create Account</a>
</div>
<div class="row">
    <div class="card">
        <div class="table-responsive text-nowrap">
<table class="table table-striped">
    <thead>
        <tr>
            <th> Class</th>
            <th> Student</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Role.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Course.Fullname)
                </td>
            <td>
                <a class="btn-sm btn btn btn-warning" asp-action="EditStudentClass" asp-route-id="@item.Student_Class_id">Edit</a> |
                <a class="btn-sm btn btn-danger" asp-action="Delete" asp-route-id="@item.Student_Class_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
