@using Microsoft.AspNetCore.Http

@{
    var username = Context.Session.GetString("Name");
    var avata = Context.Session.GetString("Avata");
    
}

<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebQuanLyhs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebQuanLyhs.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="icon" type="image/x-icon" href=" ~/assets/img/favicon/favicon.ico" />
    <script src="~/assets/vendor/js/helpers.js"></script>
    <script src="~/assets/js/config.js"></script>
    <!-- Thêm thư viện Toastify vào trang HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


</head>

<body>
    
    
    
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a asp-action="Index" class="app-brand-link">
                        <span class="app-brand-logo demo">
                           <img style="width:80px;height:60px"  src="~/Hinh/Logo/logo-removebg-preview.png" alt="Logo FPT" />
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Education</span>
                    </a>

                    <a href="javascript:void(0);" onclick="Dropd()" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">

                    <li class="menu-item">
                        <a asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bxs-user-account"></i>
                            <div data-i18n="user">Account management</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-action="CategoryIndex" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-category"></i>
                            <div data-i18n="category">Course catalog management</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-action="CourseIndex" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-table"></i>
                            <div data-i18n="course">Course management</div>
                        </a>
                    </li>
                    
                </ul>
            </aside>

            <div class="layout-page">

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" onclick="Dropd()" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <div class="navbar-nav align-items-center">
                            <form asp-action="Search" asp-controller="Admin" method="get">
                                <div class="nav-item d-flex align-items-center">
                                    <i class="bx bx-search fs-4 lh-0"></i>
                                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search" aria-label="Search..." name="query" />
                                </div>
                            </form>
                        </div>
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li style="margin-right:100px"  class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="#" onclick="toggleDropdown()" data-bs-toggle="dropdown">
                                    @if (!string.IsNullOrEmpty(avata))
                                    {
                                        <div class="avatar avatar-online">
                                            <img src="~/Hinh/Filenopbt/@avata" alt="" class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="avatar avatar-online">
                                            <imgsrc ="~/Hinh/Logo/user.jpg" alt="" class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    }
     
                                </a>
                                <div style="margin: -40px 0 0 60px;" class="d-flex">
                                        <div class="flex-shrink-0 ">
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-semibold d-block">@username</span>
                                        </div>
                                    </div>
                               
                            
                                
                                <ul class="dropdown-menu dropdown-menu-end">
                                    
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="User" asp-action="Profile">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li> <div class="dropdown-divider"></div> </li>
                                    <li>
                                            <a asp-controller="User" asp-action="DangXuat" class="dropdown-item">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <div class="container-xxl flex-grow-1 container-p-y">

                 @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var url = window.location.href;
            var conditions = [
                { keyword: "EditAcc", dataI18n: "user" },
                { keyword: "AddAccount", dataI18n: "user" },
                { keyword: "AddCategory", dataI18n: "category" },
                { keyword: "EditCategory", dataI18n: "category" },
                { keyword: "EditCourse", dataI18n: "course" },
                { keyword: "AddCourse", dataI18n: "course" }
            ];

            var menuItems = document.querySelectorAll('.menu-item');
            menuItems.forEach(function (item) {
                var menuItemUrl = item.querySelector('a').getAttribute('href');
                var found = conditions.some(function (condition) {
                    return url.includes(condition.keyword) && item.querySelector('[data-i18n="' + condition.dataI18n + '"]');
                });

                if (url.includes(menuItemUrl) || found) {
                    item.classList.add('active');
                } else {
                    item.classList.remove('active');
                }
            });
        });
    </script>
    <script>       
            function toggleDropdown() {
                var dropdown = document.querySelector('.dropdown-menu');
                if (dropdown.classList.contains('show')) {
                    dropdown.classList.remove('show');
                } else {
                    dropdown.classList.add('show');
                }
            }
    </script>
    <script>
        function Dropd() {
            var dropdown = document.querySelector('.layout-menu-fixed');
            if (dropdown.classList.contains('layout-menu-expanded')) {
                dropdown.classList.remove('layout-menu-expanded');
                } else {
                dropdown.classList.add('layout-menu-expanded');
                }
            }
    </script>
    <script>
        var passwordHeaders = document.querySelectorAll('.passwordHeader');
        passwordHeaders.forEach(function (passwordHeader) {
            var password = passwordHeader.textContent.trim();
            passwordHeader.textContent = '******';
            passwordHeader.setAttribute('data-original-password', password);
            passwordHeader.addEventListener('click', function () {
                var passwordCell = this;
                if (passwordCell.textContent !== '******') {
                    passwordCell.textContent = '******';
                } else {
                    passwordCell.textContent = passwordCell.getAttribute('data-original-password');
                }
            });
        });
    </script>

    <script src=" ~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src=" ~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src=" ~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
   
    <script src=" ~/assets/vendor/js/menu.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src=" ~/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <script src=" ~/assets/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
