@model WebQuanLyhs.DTO.AddBt
@{
    Layout = "_LayoutStudentandTeacher";
}
<div class="card-body">
    <div style="justify-content:center" class="background-content bg-12">

        <form style="padding:10px; margin:5px" asp-action="AddBt" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Exercise_id" />

            <div class="mb-3 row">
                <label class="col-lg-6 col-form-label" asp-for="Link_submit_assignments">Link submit assignments</label>
                <div class="col-sm-6">
                    <input asp-for="Link_submit_assignments" class="form-control phone-mask" />
                    <span asp-validation-for="Link_submit_assignments" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 offset-lg-6">
                    <input type="submit" value="Save" class="btn btn-outline-success me-2" /> 
                    <a class="btn btn-sm btn-danger" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
