@model BusinessObject.Viewmodel.DetailCourse

@{
	ViewData["Title"] = "Detailcourse";
}
@{
	Layout = "_LayoutStudentandTeacher";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Exercise</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="margin-top: 10px;display: flex;align-items: center;font-size: 16px;">
                @Html.DisplayFor(model => model.Teacher_Class.Teacher_Course.Course.Coures_name)
            </td>
            <td>
                <ul class="list-group">
                    @if (Model.Teacher_Class.Teacher_Course.Course.Exercises != null)
                    {
                        @foreach (var exercise in Model.Teacher_Class.Teacher_Course.Course.Exercises)
                        {
                            <li class="list-group-item">
                                <span>@exercise.File_name</span>
                                <div class="button-group">
                                    @if (!string.IsNullOrEmpty(exercise.File_name))
                                    {
                                        <a href="~/Hinh/Exercise/@exercise.File_name" class="btn btn-primary" download>Download</a>
                                    }
                                    @if (!string.IsNullOrEmpty(exercise.Link_submit_assignments))
                                    {
                                        <a class="btn btn-success" asp-action="AddBt" asp-route-id="@exercise.Exercise_id">Submit assignments</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success" asp-action="AddBt" asp-route-id="@exercise.Exercise_id">Submit</a>
                                    }
                                </div>
                            </li>
                        }
                    }
                </ul>
            </td>

        </tr>
    </tbody>
</table>
    
    <div>
        <a class="btn btn-sm btn-danger " asp-action="Index">Back to List</a>
    </div>


