    @model BusinessObject.Viewmodel.DetailTeacher

@{
    ViewData["Title"] = "Detailcourse";
}
@{
    Layout = "_LayoutStudentandTeacher";
}

<div class="card-body">
    <div class="background-content">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-6">Course name</th>
                    <th class="col-sm-6">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Teacher_Course.Course.Coures_name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Exercise">Exercise</a>
                        <a class="btn btn-danger" asp-action="Index">Back to List</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


